html, body {
	font-family:"Open Sans", sans-serif;
	height:100%;
}

body {
	padding-top: 60px;
}

.page-wrap {
	min-height:100%;
	margin-bottom:-60px;
}

.page-wrap:after {
	content:"";
	display:block;
	height:60px;
}

.main {
	margin-bottom: 100px;
}

.top-nav {
	height: 60px;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	background-color: rgb(255,255,255);
	border-bottom-color: rgb(237,237,237);
}

.top-nav a {
	color: rgb(60,60,60)!important;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.top-nav a:hover {
	color: rgb(255,153,153)!important;
}

#top-nav-collapse {
	padding: 0;
	border: none;
	overflow: visible;
}

.navbar * {
	line-height: 60px;
}

#brand {
	letter-spacing: 3px;
}

.separator {
	color: rgb(217,217,217);
	padding: 0 14px;
}

.page-links {
	margin: 0;
}

.page-links li a {
	padding: 0;
	line-height: 60px;
}

a {
	text-decoration: none!important;
}

img {
	max-width: 100%;
	height: auto;
}

.projects section {
	margin-top: 2.5rem;
	border-bottom: 1px solid rgb(237,237,237);
	padding-bottom: 8px;
}

.projects img {
	padding: 4px; 
	margin: 4px 4px 4px 0;
	border: 1px solid rgb(169,169,169);
	background-color: white;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.projects img:hover {
	background-color: rgb(255,153,153);
}


h2 {
	font-size:1.8em;
	font-weight:300;
	text-transform:uppercase;
	color: rgb(60,60,60);
	margin-top: 0;
}

h3 {
	font-size: 12px;
	font-weight:400;
	letter-spacing: 1px;
	text-transform:uppercase;
	color: rgb(60,60,60);
	margin-top: 4rem;
}

h3:first-child {
	margin-top: 4rem;
}

p {
	font-size: 1.2rem;
	color: rgb(100,100,100);
}

.book-title {
	color: rgb(255,153,153);
	font-weight: 600;
}

.fancybox-skin {
	border-radius: 0;
}

.fancybox-title {
	font-family:"Open Sans", sans-serif;
	text-align: center;
}

.fancybox-nav {
	width: 8%;
	opacity: 0.2;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

.fancybox-nav:hover {
	opacity: 1;
}

.fancybox-nav span {
	height: auto;
	visibility: visible;
	background-image: none;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;
}

.fancybox-nav span:before {
	content: "\f105";
	font-family: FontAwesome;
	font-size: 300%;
	color: white;
}

.fancybox-next {
	position: fixed;
	right: 0;
}

.fancybox-next span {
	right: 50px;
	-webkit-transform: translateX(50%);
	-moz-transform: translateX(50%);
	-ms-transform: translateX(50%);
	-o-transform: translateX(50%);
	transform: translateX(50%);
}

.fancybox-next span:before {
	content: "\f105";
}

.fancybox-prev {
	position: fixed;
	left: 0;
}

.fancybox-prev span {
	left: 50px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

.fancybox-prev span:before {
	content: "\f104";
}

.fancybox-close:before {
	content: "\f057";
	font-family: FontAwesome;
	color: white;
}

.fancybox-close {
	font-size: 200%;
	text-align: center;
	width: auto;
	height: auto;
	position: fixed;
	top: 50px;
	right: 50px;
	background-image: none;  
	opacity: 0.2;
	-webkit-transition:opacity 1s;
	-moz-transition:opacity 1s;
	-o-transition:opacity 1s;
	transition:opacity 1s; 
	-webkit-transform: translate(50%,-50%);
	-moz-transform: translate(50%,-50%);
	-ms-transform: translate(50%,-50%);
	-o-transform: translate(50%,-50%);
	transform: translate(50%,-50%);
}

.fancybox-close:hover {
	opacity: 1;
}

.back-to-top {
	position:fixed;
	right: 50px;
	bottom: 30px;
	display:none;
	color:rgb(50,50,50);
	opacity: 0.5;
	padding: 10px;
	text-align: center;
	-webkit-transform: translateX(50%);
	-moz-transform: translateX(50%);
	-ms-transform: translateX(50%);
	-o-transform: translateX(50%);
	transform: translateX(50%);
}

.back-to-top:hover {
	cursor:pointer;
	opacity:1;
	-webkit-transition:opacity 1s;
	-moz-transition:opacity 1s;
	-o-transition:opacity 1s;
	transition:opacity 1s;
}

footer {
	position: relative;
	height: 60px;
	border-top: 1px solid rgb(237,237,237);
}

footer p {
	margin: 0;
	position: absolute;
	bottom: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, 50%);
	-moz-transform: translate(-50%, 50%);
	-ms-transform: translate(-50%, 50%);
	-o-transform: translate(-50%, 50%);
	transform: translate(-50%, 50%);
}

a.im-here {
	color: rgb(255,153,153)!important;
}

.navbar-header {
	position: relative;
}

.burger {
	border: none;
	margin: 0;
	padding-right: 0;
	background-color: white !important;
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);	
}

.burger:hover .icon-bar {
	background-color: rgb(255,153,153);
}

/* Burger animation */

.navbar-toggle {
	border: none;
	background: transparent !important;
}

.navbar-toggle:hover {
 	background: transparent !important;
}

.navbar-toggle .icon-bar {
 	width: 22px;
 	-webkit-transition: all 0.2s;
 	-moz-transition: all 0.2s;
 	-o-transition: all 0.2s;
 	transition: all 0.2s;
}

.navbar-toggle .top-bar {
 	-webkit-transform: rotate(45deg);
 	-moz-transform: rotate(45deg);
 	-ms-transform: rotate(45deg);
 	-o-transform: rotate(45deg);
 	transform: rotate(45deg);
 	-webkit-transform-origin: 10% 10%;
 	-moz-transform-origin: 10% 10%;
 	-ms-transform-origin: 10% 10%;
 	-o-transform-origin: 10% 10%;
 	transform-origin: 10% 10%;
}

.navbar-toggle .middle-bar {
 	opacity: 0;
}

.navbar-toggle .bottom-bar {
 	-webkit-transform: rotate(-45deg);
 	-moz-transform: rotate(-45deg);
 	-ms-transform: rotate(-45deg);
 	-o-transform: rotate(-45deg);
 	transform: rotate(-45deg);
 	-webkit-transform-origin: 10% 90%;
 	-moz-transform-origin: 10% 90%;
 	-ms-transform-origin: 10% 90%;
 	-o-transform-origin: 10% 90%;
 	transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .top-bar {
 	-webkit-transform: rotate(0);
 	-moz-transform: rotate(0);
 	-ms-transform: rotate(0);
 	-o-transform: rotate(0);
 	transform: rotate(0);
}

.navbar-toggle.collapsed .middle-bar {
 	opacity: 1;
}

.navbar-toggle.collapsed .bottom-bar {
	-webkit-transform: rotate(0);
 	-moz-transform: rotate(0);
 	-ms-transform: rotate(0);
 	-o-transform: rotate(0);
 	transform: rotate(0);
}

/* Burger animation */



/* About page */

.about-me {
	margin-top: 50px;
	padding-right: 0;
	padding-left: 0;
}

.about-me-pic {
	position: absolute;
	right: 0;
	bottom: 60px;
}

/* About page */



/* Contact page */

.contact-details {
	font-size: 1.2rem;
	color: rgb(100,100,100);
}

.contact-details a {
	color: rgb(100,100,100); 
}

.contact-details a:hover {
	color: rgb(255,153,153);
}

.icon {
	width: 0.8em;
	color: rgb(255,153,153);
	margin-right: 0.5em;
}

.envelope {
	font-size: 0.85em;
	margin-right: 0.73em;
}

/* Contact page */



@media(max-width: 768px) {
	.page-links {
		padding-bottom: 1000px;
		background-color: white;
	}

	.page-links li a {
		line-height: 3;
		border-bottom: 1px solid rgb(237,237,237);
	}

	.separator {
		display: none !important;
	}

	.back-to-top {
		visibility: hidden;
	}

	.fancybox-close {
		opacity: 1;
		position: absolute;
		top: -5px;
		right: -5px; 
	}

	.fancybox-close:before {
		color: rgb(255,153,153);
	}

	.about-me-pic {
		display: none;
	}
}




